<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') -%>
<body>
    <%- include("header.ejs") -%>
    <main>
        <div class="wrapper">
            <% products.forEach((product)=> { -%>
                <a class="ads" href="/post/<%= product.id %>">
                    <h3>
                        <%= product.title %>
                    </h3>
                    <p>
                        <%= product.desc %>
                    </p>
                    <img src="/uploads/<%= product.image[0] %>">
                </a>
            <% }) -%>
        </div>
        <%- include("modal.ejs") -%>
    </main>
    <%- include("footer.ejs") -%>
</body>
</html>