<!DOCTYPE html>
<html lang="en">
<%- include("head.ejs") -%>
<body>
    <%- include("header.ejs") -%>
    <main>
        <h1>
            <%= product.title %>
        </h1>
        <p>
            <%= product.desc %>
        </p>
        <div class="imgs">
            <% product.image.forEach((image) => { -%>
                <img src="/uploads/<%= image %>">
            <% }) -%>
        </div>
    </main>
    <%- include("footer.ejs") -%>
</body>
</html>