<!DOCTYPE html>
<html lang="en">
<%- include("head.ejs") -%>
<body>
    <%- include("header.ejs") -%>
    <main>
        <h1>
            <%= product.title %>
        </h1>
        <p>
            <%= product.desc %>
        </p>
        <div class="imgs">
            <% product.image.forEach((image) => { -%>
                <img src="/uploads/<%= image %>">
            <% }) -%>
        </div>
    </main>
    <%- include("comment.ejs") -%>
    <div class="commentList">
        <h2>Comments</h2>
        <% if(comments[0].id == null) { -%>
            <p>No comments yet</p>
            <% } else { -%>
        <ul>
            <% comments.forEach((c)=> { -%>
                <li>
                    <h3>
                        Author: <%= c.Author %>
                    </h3>
                    <p>
                        <%= c.text %>
                    </p>
                </li>
            <% }) -%>   
        </ul>
        <% } -%>
    </div>
    <div class="imgs">
          
            <div class="imgs-decor" aria-hidden="true">
                <span class="bat b1">🦇</span>
                <span class="bat b2">🦇</span>
                <span class="bat b3">🦇</span>
            </div>
        </div>
    <%- include("footer.ejs") -%>
</body>
</html>